h1{
    /*ussing color names */
    
    color: red;
    font-size: 2em;
    text-align: center;
    /* using rgb values */
    color: rgb(0, 255, 0);
   
    /* using hexadecimal */
    color: white;
    
}
body{
    /* using color names */
    background-color: black;
}
div{
    color: blanchedalmond;
    height: 200px;
    width: 200px;
    background-color: rgba(255, 0, 0,0.2);
    /* opacity: 0.5;  same as rgba*/
    
}